@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "LINESeedKR-Bd";
  word-break: keep-all;
}

html {
  @apply bg-neutral-50;
}

.hero {
  @apply text-[2.5rem];
}

.h1 {
  @apply text-[1.75rem];
}

.h2 {
  @apply text-[1.5rem];
}

.h3 {
  @apply text-[1.25rem];
}

.body1 {
  @apply text-[1rem];
}

.body2 {
  @apply text-[0.875rem];
}

.caption {
  @apply text-[0.75rem];
}
