@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-style: normal;
}

* {
  font-family: "Pretendard-Regular";
  word-break: keep-all;
}

.hero {
  @apply text-[2.5rem] font-extrabold;
}

.h1 {
  @apply text-[1.75rem] font-extrabold;
}

.h2 {
  @apply text-[1.5rem] font-extrabold;
}

.h3 {
  @apply text-[1.25rem] font-extrabold;
}

.body1 {
  @apply text-[1rem];
}

.body2 {
  @apply text-[0.875rem];
}

.caption {
  @apply text-[0.75rem];
}
